:root {
  --bg-color: #e9f2fa;
  /* --nav-color: #172a3b; */
  --nav-color: #0b1824;
  --footer-color: #fafafa;
  --footer-bg: #172a3b;
  --stripped-odd: #fafafa;
  --stripped-even: #fafafa;
  --table-text-color: #4b7297;
  --home-card-bg: #fafafa;
  --home-card-text: rgba(107, 114, 128);
  --home-card-bg-onboarding: #e9f2fa;
  --create-url-bg: #e9f2fa;
  --custom-title-text: rgb(231, 237, 243);
  --analytics-card-bg: #fafafa;
}

[data-theme='dark'] {
  /* --bg-color: #031829; */
  --bg-color: #020d1d;
  --nav-color: #080b0e;
  --footer-color: #518bc2;
  --footer-bg: #0f1318;
  --stripped-odd: #0e1424;
  --stripped-even: #0e1527;
  --table-text-color: #f7f9fc;
  --home-card-bg: #0c2035;
  --home-card-text: rgba(147, 197, 253);
  --home-card-bg-onboarding: #020d1d;
  --create-url-bg: #020d1d;
  --custom-title-text: rgba(147, 197, 253);
  --analytics-card-bg: #020b1d;
}
