@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

.footer {
  height: 70px;
  color: var(--footer-color);
  background-color: var(--footer-bg);
  flex: 0;
}

.container-body {
  /* padding: 5px 10px; */
  /* overflow-x: hidden;
  overflow-y: auto; */
  display: flex;
  background-color: var(--bg-color);
  flex-flow: column nowrap;
  flex: 1;
}

.title {
  font-family: 'Roboto Slab', serif;
}

.container {
  margin: 0%;
  width: 98%;
}

.def-dash-card {
  font-family: 'Open Sans', sans-serif;
}

.custom-card {
  background-color: var(--home-card-bg);
}

.custom-card-text {
  color: var(--home-card-text);
}

.analytics-title-text {
  color: var(--custom-title-text);
}

.analytics-card {
  background-color: var(--analytics-card-bg);
}

a.custom-card-text {
  color: rgb(21, 123, 163);
  font-weight: 700;
}

.custom-card-container {
  background-color: var(--home-card-bg-onboarding);
}

.table-ui {
  color: var(--table-text-color);
  font-family: 'Open Sans Condensed', sans-serif;
}

tr:nth-child(odd) {
  background-color: var(--stripped-odd); /* optional */
}

tr:nth-child(even) {
  background-color: var(--stripped-even); /* optional */
}

.create-url {
  background-color: var(--home-card-bg-onboarding);
}

.tooltip {
  visibility: hidden;
  position: absolute;
}
.has-tooltip:hover .tooltip {
  visibility: visible;
  z-index: 100;
}
