.footer {
  height: 50px;
}

.content-wrapper {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.main-content {
  flex: auto;
}

.container-body {
  padding: 10px 20px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
}
