.footer {
  height: 70px;
  color: var(--footer-color);
  background-color: var(--footer-bg);
  flex: 0;
}

.content-wrapper {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.main-content {
  flex: auto;
  align-items: stretch;
}

.container-body {
  padding: 10px 20px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  background-color: var(--bg-color);
  flex-flow: column nowrap;
  flex: 1;
}

.title {
  font-family: 'Roboto Slab', serif;
}

.container {
  margin: 0%;
  width: 98%;
}

.dash-container {
  flex: 1;
  display: flex;
}
