.navbar {
  background-color: var(--nav-color);
}

.nav-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-svg {
  color: aliceblue;
}

#menu-toggle:checked + #menu {
  display: block;
}
