@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.navbar {
  background-color: var(--nav-color);
}

.nav-text {
  font-family: 'Nunito Sans', sans-serif;
}

.menu-svg {
  color: aliceblue;
}

#menu-toggle:checked + #menu {
  display: block;
}
